# name: Container Security Scan

# on:
#   push:
#     branches:
#       - main

# jobs:
#   trivy-scan:
#     runs-on: ubuntu-latest

#     steps:
    
#       - name: Checkout repository
#         uses: actions/checkout@v3

#       - name: Build Docker image
#         run: docker build -t myimg .

#       - name: Run Trivy vulnerability scanner
#         uses: aquasecurity/trivy-action@master
#         with:
#           image-ref: 'myimg'
#           format: 'table'
#           severity: 'HIGH,CRITICAL'
#           exit-code: '1'
